body {
    scroll-behavior: smooth;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.recomended {
    display: flex;
    overflow: hidden;
}
.terror {
    display: flex;
}
.adventure {
    display: flex;
}
.romance {
    display: flex;
}
.drama {
    display: flex;
}
.recomended a {
    margin-left: 10px;
}
.adventure a {
    margin-left: 10px;
}
.terror a {
    margin-left: 10px;
}
.romance a {
    margin-left: 10px;
}
.drama a {
    margin-left: 10px;
}
.adventure {
    display: flex;
    overflow: hidden;
}
.adventure a {
    margin-left: 10px;
}
.next {
    position: absolute;
    top: 290px;
    right: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.prev {
    position: absolute;
    top: 290px;
    left: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.nextB {
    position: absolute;
    top: 740px;
    right: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.prevB {
    position: absolute;
    top: 740px;
    left: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.nextC {
    position: absolute;
    top: 75rem;
    right: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.prevC {
    position: absolute;
    top: 75rem;
    left: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.nextD {
    position: absolute;
    top: 103rem;
    right: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.prevD {
    position: absolute;
    top: 103rem;
    left: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.nextE {
    position: absolute;
    top: 123rem;
    right: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.prevE {
    position: absolute;
    top: 123rem;
    left: 10px;
    background: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
